{% extends 'base.html.twig' %}

{% block title %}UserMatch index{% endblock %}

{% block body %}
    <h1>UserMatch index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_match in user_matches %}
            <tr>
                <td>{{ user_match.id }}</td>
                <td>
                    <a href="{{ path('user_match_show', {'id': user_match.id}) }}">show</a>
                    <a href="{{ path('user_match_edit', {'id': user_match.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_match_new') }}">Create new</a>
{% endblock %}
