{% extends 'base.html.twig' %}

{% block title %}New UserMatch{% endblock %}

{% block body %}
    <h1>Create new UserMatch</h1>

    {{ include('user_match/_form.html.twig') }}

    <a href="{{ path('user_match_index') }}">back to list</a>
{% endblock %}
