{% extends 'base.html.twig' %}

{% block title %}UserMatch{% endblock %}

{% block body %}
    <h1>UserMatch</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_match.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_match_index') }}">back to list</a>

    <a href="{{ path('user_match_edit', {'id': user_match.id}) }}">edit</a>

    {{ include('user_match/_delete_form.html.twig') }}
{% endblock %}
